<div class="mt-4">
  <h3>Edit Department</h3>
  <form [formGroup]="departmentForm" (submit)="updateDepartment()" class="form-inline mb-4">

    <label class="sr-only" for="Name">Name</label>
    <div class="input-group mb-2 mr-sm-2">
      <input type="text" class="form-control" formControlName="name" placeholder="Department name">
    </div>

    <button type="submit" class="btn btn-primary mb-2">Update Department</button>

  </form>
</div>
