<h3>Add Departments</h3>

<form class="form-inline mb-4">
  <form [formGroup]="departmentForm" (submit)="createDepartment()" class="form-inline mb-4">
    <label class="sr-only" for="Name">Name</label>
    <div class="input-group mb-2 mr-sm-2">
      <input type="text" class="form-control" formControlName="name" placeholder="Department name">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Add Department</button>
  </form>