<h3>Employees</h3>
<table class="table table-hover">
  <thead>
    <tr class="table-primary">
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Experience</th>
      <th scope="col">Deparment</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="5" class="alert alert-danger" *ngIf="error$ | async as error">{{error}}</td>
    </tr>
    <tr>
    <tr *ngFor="let employee of (employees$ |async)">
      <th scope="row">{{employee.name}}</th>
      <td>{{employee.age}}</td>
      <td>{{employee.experience}}</td>
      <td>{{employee.department}}</td>
      <th>
        <a (click)=editEmployee(employee)>edit</a>
        <br>
        <a (click)=deleteEmployee(employee)>delete</a>
      </th>
    </tr>
  </tbody>
</table>