<h3>Departments</h3>
<table class="table table-hover">
  <thead>
    <tr class="table-primary">
      <th scope="col">Name</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="5" class="alert alert-danger" *ngIf="error$ | async as error">{{error}}</td>
    </tr>
    <tr>
    <tr *ngFor="let department of (departments$ |async)">
      <th scope="row">{{ department.name }}</th>
      <th>
        <a (click)=editDepartment(department)>Edit</a>
        <br>
        <a (click)=deleteDepartment(department)>Delete</a>
      </th>
    </tr>
  </tbody>
</table>