<div class="mt-4">
  <h3>Edit Employee</h3>
  <form [formGroup]="employeeForm" (submit)="updateEmployee()" class="form-inline mb-4">

    <label class="sr-only" for="Name">Name</label>
    <div class="input-group mb-2 mr-sm-2">
      <input type="text" class="form-control" formControlName="name" placeholder="name">
    </div>

    <label class="sr-only" for="Age">Age</label>
    <div class="input-group mb-2 mr-sm-2">
      <input type="text" class="form-control" formControlName="age" placeholder="age">
    </div>

    <label class="sr-only" for="Experience">Experience</label>
    <div class="input-group mb-2 mr-sm-2">
      <input type="text" class="form-control" formControlName="experience" placeholder="experience">
    </div>

    <label class="sr-only" for="Department">Department</label>
    <div class="input-group mb-2 mr-sm-2">
      <select formControlName="department" class="form-control">
        <option>HR</option>
        <option>UPS</option>
        <option>asd</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary mb-2">Update Employee</button>

  </form>
</div>